body, html{
    
    height: 100%;
    scroll-behavior: smooth;
    background: black;

    overflow-x:hidden;
}

* {
    box-sizing: border-box;
  }

nav{
    display:flex;
    position:sticky;
    border-bottom: 2%;
    top: 0;

    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    max-height: 6%;
    background: rgba($color: #110311, $alpha: 1);
    z-index: 1;

}

.titolo{
    color: orange;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: orange;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 15PX;

}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: orange;
    margin: 5px;
}


.pimg1{
    width: 100%;

    background: url("../../img/img2.jpg");
    height: 700px;
    background-position: 60%;
    background-size: cover;
    display:inline-block;
    background-attachment: fixed;

}

.sec1{
    height: 800px;
    padding: 5%;
    background: aquamarine;
    display: inline-block;
    width:100%;
    opacity:initial;
    z-index: -1;
}


.pimg2{
    width: 100%;

    background: url("../../img/img5.jpg");
    height: 500px;
    background-position: 80%;
    background-position-y: -5%;
    background-size: cover;
    display:flex;
    background-attachment: fixed;
}

.sec2{
    height: 800px;
    padding: 5%;
    background: aqua;
    display: inline-block;
    width:100%;
    z-index: -1;
}

.pimg3{
    width: 100%;

    background: url("../../img/img6.jpg ");
    height: 500px;
    background-position: 50%;
    background-size: cover;
    display:flex;
    background-attachment: fixed;
    ;

}
.sec3{
    height: 800px;
    padding: 5%;
    background: pink;
    display: inline-block;
    width:100%;
    z-index: -1;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

//altri dispositivi
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}


@media screen and(max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position:absolute;
        right: 0px;
        height: 7500%;
        top:50%;
        background:rgba($color: #110311, $alpha: 1);
        display:block;
        flex-direction:column;
        width: 60%;
        
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        line-height: 3;

    }
    .burger{
        display:block;

    }
    .column{
        width: 100%;
    }

    .yt{
        display: flex;
    }




}
//fine altri dispositivi

.nav-active{
    transform: translateX(0%);
}


